<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>Shared Imovie Library</string>
	<key>libraryID</key>
	<string>DD79F09C-8401-4005-BD2B-91F1C3E2E888</string>
</dict>
</plist>
