<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FFSegmentStoreEncodedHeight</key>
	<integer>135</integer>
	<key>FFSegmentStoreEncodedWidth</key>
	<integer>240</integer>
	<key>FFSegmentStoreFieldOrder</key>
	<integer>-1</integer>
	<key>FFSegmentStoreFileFrameCount</key>
	<integer>1024</integer>
	<key>FFSegmentStoreFirstSample</key>
	<integer>0</integer>
	<key>FFSegmentStorePixelTransformArray</key>
	<array>
		<array>
			<real>0.125</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>120</real>
			<real>0.0</real>
			<real>-0.125</real>
			<real>0.0</real>
			<real>67.5</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
		</array>
	</array>
	<key>FFSegmentStoreRenderProps</key>
	<string>FFRenderPropsThumbnail</string>
	<key>FFSegmentStoreSegmentStoreMD5</key>
	<data>
	tw9XG0E9rRGxZR/Rh5aIpw==
	</data>
	<key>FFSegmentStoreStoredFrameIndexes</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKUHCA8TGlUkbnVsbNMJCgsMDQ5cTlNSYW5nZUNvdW50ViRjbGFzc1tOU1Jhbmdl
	RGF0YRACgASAAtIQChESV05TLmRhdGFI18oGAfTKBgGAA9IUFRYXWiRjbGFzc25hbWVY
	JGNsYXNzZXNdTlNNdXRhYmxlRGF0YaMWGBlWTlNEYXRhWE5TT2JqZWN00hQVGxxfEBFO
	U011dGFibGVJbmRleFNldKMdHhlfEBFOU011dGFibGVJbmRleFNldFpOU0luZGV4U2V0
	XxAPTlNLZXllZEFyY2hpdmVy0SEiVHJvb3SAAQAIABEAGgAjAC0AMgA3AD0AQwBKAFcA
	XgBqAGwAbgBwAHUAfQCGAIgAjQCYAKEArwCzALoAwwDIANwA4AD0AP8BEQEUARkAAAAA
	AAACAQAAAAAAAAAjAAAAAAAAAAAAAAAAAAABGw==
	</data>
</dict>
</plist>
